@using Sandbox;
@using Sandbox.UI;
@namespace Sandbox
@inherits PanelComponent

<root>
    @if ( Hovered != null)
    {
        <div id="name">@HoveredName</div>
    }
</root>

@code {
    public static HoveredInfoPanel Instance { get; private set; }
    public GameObject Hovered 
    {
        get => _hovered;
        set
        {
            _hovered = value;
            if ( Hovered == null )
            {
                HoveredName = null;
                return;
            }
            var nameComponent = Hovered.Components.Get<DisplayNameComponent>();
            HoveredName = nameComponent?.Name;
        }
    }
    private GameObject _hovered;
    public string HoveredName { get; private set; }

    public HoveredInfoPanel()
    {
        Instance = this;
    }

    protected override void OnUpdate()
    {
        // If the hovered GameObject is no longer hovered, clear it.
        if ( Hovered is not null && !Hovered.Tags.Has( "hovered" ) )
            Hovered = null;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Hovered );
    }
}
